.honors-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 50px;
    justify-items: stretch;
    margin: 4rem;
    
}

.honors-img {
    width: 100%;
}

.my-photos {
    width: 600px;
    height: 750px;
}

.photos-container {
    display: grid;
    justify-content: center;
}

.item {
    width: 100%;
}

.photo-container {
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-gap: 100px;
}

.portrait-text, .concept-text, .product-text {
    padding: 10rem;
}

.portrait-container, .product-container {
    background: rgb(29,232,236);
background: linear-gradient(266deg, rgba(29,232,236,0.15732230392156865) 0%, rgba(254,244,216,1) 100%);
}

.concept-container {
    background: rgb(29,232,236);
background: linear-gradient(266deg, rgba(29,232,236,0.15732230392156865) 0%, rgba(254,244,216,1) 100%);
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

body{
    background: rgb(29,232,236);
background: linear-gradient(266deg, rgba(29,232,236,0.15732230392156865) 0%, rgba(254,244,216,1) 100%);
}

.navbar,  .navbar-fixed-top, .navbar-default{
    background: rgb(29,232,236);
background: linear-gradient(266deg, rgba(29,232,236,1) 0%, rgba(254,244,216,1) 100%);
}

.section-header{
    background: rgb(34,193,195);
background: linear-gradient(180deg, rgba(34,193,195,0.7931766456582633) 0%, rgba(245,211,239,0.5606836484593838) 100%);
}